
<div class = "parallax"></div>



<div style = "margin: auto; margin-top: -520px;margin-bottom: 200px;width: 500px" class = "aboutIntro">       
    <h2 style = "margin-bottom: -25px; font-size: 35px;">Catherine (Cath) Roberts</h2>
    <h5>she/her/hers</h5>
    <h3 style = "margin-top: -25px;">I am a <strong>UX Designer</strong>. I study Computer Science, 
        Mathematics, and Cognitive Science at the University of North Carolina at Chapel Hill. </h3>
</div>


<a href = "https://www.linkedin.com/in/catherineroberts808">
    <div style = "margin-top: 500px;" class = "linkedinLogo">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <i class="fa fa-linkedin-square" style="font-size:45px"></i>
    </div>
</a>


<div class = "projects">
    <div class = "aboutQuestionBox">
        <h3 style = "margin-top: 10px; margin-bottom: 20px; align-self: center; font-weight: 600;font-size: 25px">Questions you may have for me:</h3>
        <div class = "aboutQuestionList">
            <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
            <i style = "margin-left: 15px" class="em em-iphone" aria-role="presentation" aria-label="MOBILE PHONE"></i>
            <h3 style = "margin-left:7px; margin-top: -3px; width: 590px">
                <strong>Why UX Design?</strong> 
                As a computer science major, I took for granted the fact that I would become a software engineer.
                After all, that's what most of my classmates are doing, so I should do that too, right? 
                When I learned about the field of User Experience, however, I saw a potential to fulfill multiple 
                passions at once. I love psychology, coding, creating art, and most importantly, helping people 
                by taking away their struggles. 
            </h3>
            <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
            <i style = "margin-left: 15px" class="em em-1234" aria-role="presentation" aria-label="INPUT SYMBOL FOR NUMBERS"></i>
            <h3 style = "margin-left: 7px;margin-top: -3px;width: 590px"><strong>Why math?</strong> Throughout middle school and high school, I loved spending hours
            a day on complex math challenges. I felt most comfortable in math club, where I did not feel judged
            for enjoying probability, competing at math contests all over the state, and memorizing the digits of pi.
            While I primarily love design and coding, I want to always keep my passion for numbers and finding 
            beautiful solutions alive. </h3>
            <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
            <i style = "margin-left: 15px" class="em em-art" aria-role="presentation" aria-label="ARTIST PALETTE"></i>
            <h3 style = "margin-left: 7px;margin-top: -3px;width: 590px"><strong>What are my favorite creative outlets?
            </strong> I love to crochet, knit, embroider, create digital art, design applications on Figma, and make paper crafts. </h3>
            <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
            <i style = "margin-left: 15px;" class="em em-speaking_head_in_silhouette" aria-role="presentation" aria-label=""></i>
            <h3 style = "margin-left: 7px;margin-top: -3px;width: 590px"><strong>What quote inspires me?
            </strong> "The only unique contribution that we will ever make in this world will be born of our creativity.” - Brene Brown </h3>
        </div>
    </div>
</div>
