
<div style = "margin-bottom: 35px" class="intro">
    <div class = "introText">
        <h1 style="font-size: 50px">My projects. </h1>
        <div class="linkbox">
            <div style="margin-left: 25px;">
                <ul style = "margin-left: -20px; line-height: 300%;">
                    <li>
                        <a (click) = "onClick('post1')">
                            <h3 style="font-size: 16px; text-decoration: underline;">Flower Shop: 
                                A Figma wireframe and prototype.</h3>
                        </a>
                    </li>
                    <li>
                        <a (click) = "onClick('post2')">
                            <h3 style = "font-size: 16px; margin-top: -25px; text-decoration: underline;">
                                Akari: A JavaFX application.</h3>
                        </a>
                    </li>
                    <li>
                        <h3 style = "margin-top: -25px; font-size: 16px; text-decoration: underline;">
                            This website: An Angular application.</h3>
                    </li>
                    <li>
                        <a (click) = "onClick('post3')">
                            <h3 style = "margin-top: -25px; font-size: 16px; text-decoration: underline;">
                                Checkin Website: An Angular application.</h3>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div  class = "projects" >
    <div class = "insideOutline">
        <h2 id= "post1" style = "align-self: center; margin-bottom: 10px; font-weight: 300;">Flower Shop</h2>
        <div class = "productImagebox">
            <img class = "productImage" src = "/assets/alicia_wren.png" alt = "Puzzle with controls">
            <img class = "productImage" src = "/assets/paper_wireframe.jpg" alt = "Paper wireframe of checkout page">
        </div>
        <h3 style = "width: 875px;margin:auto; margin-top: -10px;margin-bottom: 20px">
            <p class = "subhead">
                Last December, I started a <a style = "color: #4c515b; text-decoration: underline;"href = "https://www.coursera.org/professional-certificates/google-ux-design">
                Google course through Coursera</a> to learn more about UX 	
                Design and grow my skills as a designer and researcher.
                <span id="dotsFlower">. . .</span>
                <br> <br>
                <span id = "moreFlower">There are 7 courses total, and I am currently working my way through the 4th, 
                    “Conduct UX Research and Test Early Concepts.” In the first 3 courses, I learned all about 
                    user personas, user pain points, wireframing, prototyping, empathy, accessibility, and how 
                    to create user journeys and competitive audits. 
                    <br><br>
                    In order to work through these courses, it was necessary to come up with an idea for a mobile 
                    or web application to put my newfound knowledge to work. I decided to create a floral delivery 
                    app that solves user pain points and is simple to use. Through the class, I learned how to use 
                    Figma to first create wireframes for the app, and then turn those wireframes into a prototype. 
                    See below for a walkthrough of my little app!
                    
                    <iframe style="margin-top: 20px;margin-bottom:30px;width: 100%; height: 450px;border: 1px solid rgba(0, 0, 0, 0.1);" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2Fmi9VDXLakIN9xhQMfVmyJb%2FFlower-Shop-Wireframes%3Fnode-id%3D19%253A42%26scaling%3Dscale-down%26page-id%3D0%253A1%26starting-point-node-id%3D19%253A2%26show-proto-sidebar%3D1" allowfullscreen></iframe>
                    
                    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
                    <i style = "margin-right: 4px; " class="em em-pencil2" aria-role="presentation" aria-label="PENCIL"></i>
                    
                    <span style = "text-decoration: underline; font-weight: 700;">What I Learned:</span>
                    
                    <ul>
                        <li>How to create digital wireframes from paper</li>
                        <li>How to use the Figma components tool</li>
                        <li>How to use Figma Variants to create interactive components</li>
                    </ul>
                    <i style = "margin-right: 4px; " class="em em-purple_heart" aria-role="presentation" aria-label="PURPLE HEART"></i>
                    <span style = "text-decoration: underline; font-weight: 700;">My Favorite Parts of the Entire Process:</span>
                    <ul>
                        <li>Creating User Personas (see 'Alicia Wren' above)</li>
                        <li>Creating a User Journey Map to anticipate potential needs for the app</li>
                        <li>Learning how to navigate and use Figma</li>
                    </ul>
                </span>
            </p>
        </h3>
        
        <button (click)="readMoreFlower()" id="myBtnFlower" class = "readMore">Read more</button>
    </div>
</div>

<div class = "projects" >
    <div class = "insideOutline">
        <h2 id= "post3"  style = "align-self: center; margin-bottom: 10px">XL Check In System</h2>
        <div class = "productImagebox">
            <img class = "productImage" src = "/assets/backend_register.png" alt = "Puzzle with controls">
        
        </div>
        <h3 style = "width: 875px;margin:auto; margin-bottom: -15px">
            <p class = "subhead">
                This semester in my “Introduction to Software Engineering” course, we are practicing pair 
                programming, learning Typescript, creating Angular projects, and discussing current events 
                in the tech world.
                <span id="dotsCheckin">. . .</span>
                <br> <br>
                <span id="moreCheckin">Although it is not my main goal to pursue a career in Software Engineering, 
                    I believe this course has been invaluable in teaching me how to work in teams and practice 
                    creating and deploying applications to the web without much assistance. Our most recent project 
                    has been to create a check in system for <a style = "color: #4c515b; text-decoration: underline;"
                    href = "https://csxl.unc.edu/">UNC's Computer Science Experience Lab</a>.
                    <br><br>
                    The first rendition of this project required us to follow Angular tutorials to create the 
                    frontend of the website and deploy it to GitHub Pages. You can find the project at <a style = "color: #4c515b; text-decoration: underline;"
                    href = "https://comp423-23s.github.io/ex01-checkin-team_24/">this link</a>.
                    I enjoyed learning about CSS and HTML for the first time, and spent additional time on the 
                    assignment researching how to change colors, add elements, create flex boxes, and create button 
                    events. 
                    <br><br>
                    The second rendition of this project involved creating a backend to keep track of the form data 
                    entered in the frontend. We learned how to use the Observable class, HTTP methods, and FastAPI 
                    to complete this task. I decided to change the styling of this rendition to get extra practice 
                    with CSS, and also because I wanted to make it look nicer!
                    <br><br>
                    <i style = "margin-right: 4px; " class="em em-purple_heart" aria-role="presentation" aria-label="PURPLE HEART"></i>
                    <span style = "text-decoration: underline; font-weight: 700;">My Favorite Parts:</span>
                    <ul>
                        <li>Working together with a partner</li>
                        <li>Choosing a color scheme that fit with the XL website</li>
                        <li>Using HTTP methods to retrieve data from the backend</li>
                    </ul>
                    
                </span>
            </p>
        </h3>
        
        <button (click)="readMoreCheckin()" id="myBtnCheckin" class = "readMore">Read more</button>
    </div>
</div>


<div class = "projects" >
    <div class = "insideOutline">
        <h2 id= "post2"  style = "align-self: center; margin-bottom: 10px">Akari</h2>
        <div class = "productImagebox">
            <img class = "productImage" src = "/assets/akari_light.png" alt = "Puzzle with controls">
            <img class = "productImage" src = "/assets/akari_mistake.png" alt = "Puzzle with controls">
            <img class = "productImage" src = "/assets/akari_solved.png" alt = "Puzzle with controls">
        </div>
        <h3 style = "width: 875px;margin:auto; margin-bottom: -15px">
            <p class = "subhead">
                During the spring 2022 semester, I created a JavaFX application for my “Foundations of Programming” course. 
                We spent the semester creating programs in Java, and our final assignment was to learn how to use 
                JavaFX and Maven to replicate the game <a style = "color: #4c515b; text-decoration: underline;"
                href = "https://www.puzzle-light-up.com/">Akari</a>.
                <span id="dots">. . .</span>
                <br> <br>
                <span id="more">It was my first time using the Model View Controller design pattern, and I 
                    ended up having a lot of fun creating the visuals and putting it all together. 
                    I also learned a lot about creating buttons, notifying observers, and using a build manager.
                    <br><br>
                    <i style = "margin-right: 4px; " class="em em-purple_heart" aria-role="presentation" aria-label="PURPLE HEART"></i>
                    <span style = "text-decoration: underline; font-weight: 700;">My Favorite Parts:</span>
                    <ul>
                        <li>The trial and error of setting up a gridpane</li>
                        <li>Watching the model implementation work its magic</li>
                        <li>Showing the final product to my young nephew and allowing him to change the component colors with code

                        </li>
                    </ul>
                    
                </span>
            </p>
        </h3>
        
        <button (click)="readMoreAkari()" id="myBtn" class = "readMore">Read more</button>
    </div>
</div>


