
<div class="intro">
    <div class = "introText">
        <h2>My projects. </h2>
        <ul style = "margin-left: -20px; line-height: 250%;">
            <li>
                <h3 style = "margin-top: -25px; font-size: 20px; text-decoration: underline;">
                    Akari: A JavaFX application.</h3>
            </li>
            <li>
                <h3 style = "margin-top: -25px; font-size: 20px; text-decoration: underline;">
                    Flower Shop: A Figma wireframe and prototype.</h3>
            </li>
            <li>
                <h3 style = "margin-top: -25px; font-size: 20px; text-decoration: underline;">
                    This website: An Angular application.</h3>
            </li>
        </ul>
        
    </div>
</div>

<div class = "gradientOutline">
    <div class = "insideOutline">
        <div class = "productImagebox">
            <img class = "productImage" src = "/assets/akari_light.png" alt = "Puzzle with controls">
            <img class = "productImage" src = "/assets/akari_mistake.png" alt = "Puzzle with controls">
            <img class = "productImage" src = "/assets/akari_solved.png" alt = "Puzzle with controls">
        </div>
    </div>
</div>