
<div class="intro">
    <div class = "introText">
        <h1 style="font-style: italic;">Hi, I'm <span style="color:#538d79;">Cath</span></h1>
        <h2>Student. UX Designer.</h2>
    </div>
    
</div>

<div class="resumebox">
    <div class="innerresumebox"></div>
    <div class = "innerresumetext">
        <h4 style="margin:15px; font-size:25px">Welcome to my Portfolio</h4>
        <h5 style="margin:15px;margin-top: -20px;padding:15px">View my design and programming projects, 
            learn about me, and check out my resume.</h5>
        <div class="resumebuttonspace">
            <button class="resumebutton"><h4 style="color: white;margin-top: -8px;font-weight: bolder; letter-spacing: 2px;">
                RESUME</h4></button>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <i class="fa fa-linkedin-square" style="font-size:44px; margin-left: 15px; margin-top: -2.5px;color:#538d79"></i>
        </div>
    </div>
</div>


<div style = "margin: auto" class = "projects">
    <a routerLink = "/projects/">
        <div class = "projectOutline">
            <div class = "post">
                <img class = "postImage" src = "/assets/Akari.png" alt = "Puzzle with controls">
                <hr style = "margin-top: -2px;margin-left: 0.1px; margin-right: 0.1px; border-top: 1.5px solid black; ">
                <div style = "margin-bottom: -15px;" class = "postDescription">
                    <h3>Akari</h3>
                    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
                    <i style = "margin-left: 10px; margin-top: 9px;" class="em em-bulb" aria-role="presentation" aria-label="ELECTRIC LIGHT BULB"></i>
                </div>
                <h5 style = "margin-top: -20px;">A simple light-up game created with JavaFX</h5> 
                </div>
        </div>
    </a>

    <a routerLink = "/projects">
        <div class = "projectOutline">
            <div class = "post">
                <img class = "postImage" src = "/assets/figmaWireframe.png" alt = "Wireframe built in Figma">
                <hr style = "margin-top: -2px;margin-left: 0.1px; margin-right: 0.1px; border-top: 1.5px solid black; ">
                <div style = "margin-bottom: -15px;" class = "postDescription">
                    <h3>Flower Shop</h3>
                    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
                    <i style = "margin-left: 10px; margin-top: 9px;" class="em em-white_flower" aria-role="presentation" aria-label="WHITE FLOWER"></i>
                </div>
                <h5 style = "margin-top: -20px;">Wireframe and Prototype for fake app built in Figma.</h5> 
                </div>
        </div>  
    </a>

    <a routerLink = "/projects">
        <div class = "projectOutline">
            <div class = "post">
                <img class = "postImage" src = "/assets/checkin_button.png" alt = "Wireframe built in Figma">
                <hr style = "margin-top: -2px;margin-left: 0.1px; margin-right: 0.1px; border-top: 1.5px solid black; ">
                <div style = "margin-bottom: -15px;" class = "postDescription">
                    <h3>XL Check in</h3>
                    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
                    <i style = "margin-left: 10px; margin-top: 9px;" class="em em-white_check_mark" aria-role="presentation" aria-label="WHITE HEAVY CHECK MARK"></i>
                </div>
                <h5 style = "margin-top: -20px;">Angular Website hosted on GitHub pages.</h5> 
                </div>
        </div>  
    </a>

</div>

