
<hr style="height:3px;border-width:0;color:#ebe0d7;background-color: #ebe0d7; margin: -2px">

<div class="intro">
    <div class = "introText">
        <h2>Cath's Personal Design Portfolio</h2>
        <h3 style = "margin-top: -15px;">Cath (she/her) is studying Computer Science and Mathematics with a minor in Cognitive Science at the University of North Carolina  at Chapel Hill. </h3>
    </div>
    <img class = "cutout" src = "/assets/cath_cutout.png">
</div>

<div class = "projects">
    <div class = "post"> <h2>hello!</h2></div>

</div>