
<div class="topnav">
    <img class = "logo" src = "/assets/cr_logo_black.png"> 
    <button (click)= "darkMode()">Dark Mode</button>
    <div style = "display: flex; margin-right: 2.5%;">
        <a routerLink = "/" routerLinkActive="router-link-active"><h1>Home</h1></a>
        <a routerLink = "/projects" routerLinkActive="active"><h1>Projects</h1></a>
        <a routerLink = "/aboutme" routerLinkActive="active"><h1>About Me</h1></a>
    </div>
</div>
<router-outlet></router-outlet>

<div class = "bottomnav"></div>