
<div class="topnav">
    <img class = "logo" src = "/assets/cr_logo_black.png"> 
    <div style = "display: flex; margin-right: 2.5%;">
        <a routerLink = "/" routerLinkActive="router-link-active"><h3 style="padding: 10px">Home</h3></a>
        <a routerLink = "/projects" routerLinkActive="active"><h3 style="padding: 10px">Projects</h3></a>
        <a routerLink = "/aboutme" routerLinkActive="active"><h3 style="padding: 10px">About Me</h3></a>
    </div>
</div>
<router-outlet></router-outlet>

<div class = "bottomnav"></div>