@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=GolosText');
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Asap+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* You can add global styles to this file, and also import other style files */
/* background-color: #fffefc; */

body {
    background-color: #fffefc;
    color: #4c515c;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.dark-mode {
    background-color: #4c515b;
    color: white
}

#more {display: none;}
#moreFlower {display: none}
#moreCheckin {display: none}
/* Colors */

/* Buttons */

.readMore {
    width: 125px;
    height: 65px;
    margin: auto;
    margin-bottom: 15px;
    color: white;
    font-size: 15px;
    background-color: #006FF9;
    align-self: center;
    border-radius: 20px;
    border: hidden;
}

/* Fonts and sizes */
h1 {
    font-family: 'Roboto';
    color:#1a0f12;
    font-weight: 300;
    font-size: 57px;
    letter-spacing: 1px;
}

h2 {
    font-family: 'Roboto';
    color:black; 
    font-weight: 100;
    font-size: 40px;
}

h3 { 
    font-family: 'Roboto';
    color:#4c515b;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

h4 {
    font-family: 'Montserrat';
    color:#4c515b;
    font-size: 27px;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 15px;
}

h5 {
    font-family: Georgia;
    color:#4c515b;
    font-size: 25px;
    letter-spacing: 1px;
}

.subhead::first-letter {
    initial-letter: 2;
}

/* Nav bars*/

.topnav {
    /*background-color: #fffefc;*/
    height: 60px;
    width: 100%;
    overflow:hidden;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding-left: 15px;
    height: 40px;
    width: 40px;
    margin-left: 2.5%;
}

.bottomnav {
    background-color: #4c515b;
    height: 50px;
    overflow: hidden;
    display:flex;
    align-items: center;
    
    width: 100%;
    margin-top: 5%;
    flex-direction: column-reverse;
}

/* Routes*/

a {
    text-decoration: none;
}

.router-link-active {
    font-size: 100px;
}

/* Webpage sections */

/* home */

.toppage {
    height: 425px;
    width: 100%;
    /*background-color: #a9a9a9;*/
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 50px;
    /* box-shadow: 0px 3px 15px #8d8b8a;*/
}

.intro {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: left;
}

.introText{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 8%;
    justify-content: top;
}

.wavebottom {
    height: 350px;
    width: 100%;
    background-color: #efeeee;
    margin-top: -5px;
    position: relative;
}

.phonemockup {
    width: 250px;
    height: auto;
    z-index: 1;
    position: absolute;
    top: -220px;
    right: 100px;
    filter: drop-shadow(0px 15px 20px #3e3d3d);
}

.aboutmetext {
    width: 800px;
    height: 600px;
    z-index: 1;
    position: absolute;
    left: 100px;
    top: -175px;
}

/* Project Posts */
.projects {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin:auto;
    margin-bottom: 60px;
}

.post {
    display: flex;
    flex-direction: row;
}

.postDescription {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 15px;
    justify-content: top;
}

/* images*/
.postImage {
    width: 175px;
    height: 175px;
    border-radius: 20px;
    filter: drop-shadow(0px 5px 5px grey)
}

.aboutmePic {
    width: 375px;
    height: 375px;
}


/*projects page*/

.linkbox {
    height: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: #efeeee;
}

.insideOutline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    height: auto;
    margin: 2.5%;
    border-radius:2.5%;
    background-color: #fffefc;
}

.productImagebox {
    display: flex;
    flex-direction: row;
    width:auto;
    justify-content: center;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.productImage {
    width:auto;
    height: 275px;
    margin: 10px;
    margin-bottom: 20px;
    border: solid black 2px;
    filter: drop-shadow(5px 5px 5px rgb(105, 105, 105))
}
/*about me page */
.aboutIntro {
    z-index: 1;
    background: #fffefc;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    border: solid black 3px;
    margin: auto;
}

.aboutQuestionBox {
    display: flex;
    flex-direction: column;
    width: 700px;
    background-color: #fffefc;
    align-self: center;
    border-radius: 2.5%;
    border: solid #c8c7fb 7px;
}

.aboutQuestionList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 650px;
}

.parallax1 {
    background-image: url("/assets/catherine_picture.jpg");
    height: 500px;
    background-position: left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;  
}

.parallax2 {
    background-image: url("/assets/hack110.png");
    height: 500px;
    background-position:bottom  right  ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;  
    z-index: 1;
}